.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.siteLogo  {
    justify-self: flex-start;
    z-index: 1;

    height: 3.5rem;
    fill: white;
}

.navLink {
    z-index: 1;
    color: #ffffff;
}