.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 2;

    padding: 2rem 3rem;
}

.siteLogo  {
    justify-self: flex-start;
    height: 3rem;
    fill: white;
}