.content {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
  margin: 0 auto 0 auto;

  width: 100%;
  max-width: 1200px;
}

.demographics {
  h1 {
    color: #abd7dd;
  }

  h2 {
    color: #89b7bd;
  }

  h3 {
    color: #68989f;
  }

  h4 {
    color: #68989f;
  }
}

.academics {
  h1 {
    color: #e9b09e;
  }

  h2 {
    color: #dea28f;
  }

  h3 {
    color: #d3947f;
  }

  h4 {
    color: #d3947f;
  }
}

.coop {
  h1 {
    color: #929bcb;
  }

  h2 {
    color: #848ecb;
  }

  h3 {
    color: #7582ca;
  }

  h4 {
    color: #7582ca;
  }
}

.lifestyle {
  h1 {
    color: #f7cacd;
  }

  h2 {
    color: #f2bdc2;
  }

  h3 {
    color: #edafb9;
  }

  h4 {
    color: #edafb9;
  }
}

.igor {
  h1 {
    color: #d0d9df;
  }

  h2 {
    color: #b0b9bf;
  }

  h3 {
    color: #909aa1;
  }

  h4 {
    color: #909aa1;
  }
}
