.content {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
  margin: 0 auto 0 auto;

  width: 100%;
  max-width: 1200px;
}

.demographics {
  h1 {
    color: #abd7dd;
  }

  h2 {
    color: #89b7bd;
  }

  h3 {
    color: #68989f;
  }
}

.academics {
  h1 {
    color: #e9b09e;
  }

  h2 {
    color: #dea28f;
  }

  h3 {
    color: #d3947f;
  }

  a {
    color: #b46044;
  }
}

.coop {
  h1 {
    color: #929bcb;
  }

  h2 {
    color: #848ecb;
  }

  h3 {
    color: #7582ca;
  }
}

.lifestyle {
  h1 {
    color: #f7cacd;
  }

  h2 {
    color: #f2bdc2;
  }

  h3 {
    color: #edafb9;
  }
}

.igor {
  h1 {
    color: #d0d9df;
  }

  h2 {
    color: #b0b9bf;
  }

  h3 {
    color: #909aa1;
  }

  h5 {
    font-style: italic;
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}

/*
  CARD CHANGES
  900px screen width
*/

@media only screen and (max-width: 900px) {
  .igorFlexVertical {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .igorPicture {
    border: 5px solid #555;
    border-radius: 20px;
    height: 500px;
  }
}

@media only screen and (min-width: 901px) {
  .igorFlexHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .igorFlexVertical {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .igorPicture {
    border: 5px solid #555;
    border-radius: 20px;
    height: 500px;
  }
}

.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;

  .card {
    h3 {
      color: var(--bg);
    }
  }
}

@media screen and (max-width: 600px) {
  .cardContainer {
    justify-content: space-around;
  }
}
