<<<<<<< HEAD
.content {
  display: flex;
  flex-direction: column;
  padding: 0 2em 0 2em;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  height: calc(100vh - 300px);
}

.demographics {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.demographics:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}

.academics {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.academics:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}

.coop {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.coop:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}

.lifestyle {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.lifestyle:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}

.highschool {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.highschool:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}

.igor {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 30px;
  color: black;
  border-radius: 24px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.igor:hover {
  background-color: #b8b8b8;
  transition-duration: 0.8s;
}
=======
.links {
  display: flex;
  flex-direction: column;
}
>>>>>>> 7bb2be2 (formatted file + added scss styling)
