@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #222;
  --primary: #56F2A7;
  --secondary: #000;
  --tertiary: #303040;
  --main-text: #fff;
  --sub-text: #ddd;
  --link: #1370f2;
  
  font-size: 16px;
  line-height: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;

  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--main-text);
}

h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 68px;
}

h2 {
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
}

caption {
  font-size: 13px;
  line-height: 25px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--link);
}

@media screen and (max-width: 1600px) {
  :root {
      font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  :root {
      font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
      font-size: 15px;
  }
}

@media screen and (max-width: 960px) {
  :root {
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  :root {
      font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  :root {
      font-size: 10px;
  }
}