@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #222;
  --primary: #56F2A7;
  --secondary: #000;
  --tertiary: #303040;
  --main-text: #fff;
  --sub-text: #ddd;
  --link: #1370f2;
  
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--main-text);
}

p {
  font-size: 1.3rem;
}

// @media (prefers-color-scheme: light) {
//   :root {
//       --bg: #fff;
//       --primary: #56F2A7;
//       --secondary: #000;
//       --tertiary: #303040;
//       --main-text: #000;
//       --sub-text: #444;
//       --link: #1370f2;
//   }
// }

@media screen and (max-width: 1600px) {
  :root {
      font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  :root {
      font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
      font-size: 15px;
  }
}

@media screen and (max-width: 960px) {
  :root {
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  :root {
      font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  :root {
      font-size: 10px;
  }
}