.banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  top: 40%;
  
  padding: 0 15%;
  width: 75%;
  max-width: 1200px;
}

.title {
  margin: 0;

  z-index: -1;
}

.description {
  margin-top: 1rem;

  z-index: -1;

  font-weight: 400;
  letter-spacing: 0.1em;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;

  z-index: 0;
  top: 0;

  display: block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:none;
}
