.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  margin: auto;
  padding: 0 3rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  margin: 6rem 0 15rem 0;
  padding: 0 8%;
  height: 30rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
  margin: 0;
}

.description {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 300;

  margin-top: 1rem;
}

.canvas {
  position: absolute;
  z-index: -1;
  top: 30rem;
  left: 0;

  display: block;

  width: 100vw;
  height: 70vh;
}


.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0 auto 0 auto;
  min-width: 90%;
  max-width: 1000px;
}