.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  margin: auto;
  padding: 0 3rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  padding: 0 8%;
  height: calc(100vh - 10rem);
}

.title {
  line-height: 1;
  font-size: 3rem;
  margin: 0;
}

.description {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 300;

  margin-top: 1rem;
  //padding-bottom: 4rem;
}

.canvas {
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 0;

  width: 100vw;
  height: 70vh;
}


.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0 auto 0 auto;
  min-width: 90%;
  max-width: 1000px;
}